<div class="job-activity-listing">
    <h2 *ngIf='jobsActivityList.length <= 0' style="text-align: center;font-family: 'DM Sans', sans-serif;">No
        activities found!</h2>
    <div class="card-list">
        <div class="card" *ngFor='let activity of jobsActivityList'>
            <h2 class="status" [class.completed]="activity.state == 'Completed'"
                [class.inProgress]="activity.state == 'In-progress'" [class.started]="activity.state == 'Started'"
                [class.failed]="activity.state == 'Failed'">ID : {{activity.job_id}}

                <span>
                    {{activity.state}}
                </span></h2>
            <div class="info">
                <p [title]="activity.status_message"><span>Status Message</span> :
                    {{activity.status_message.length > 20? activity.status_message.slice(0,18) + ".." : activity.status_message}}
                </p>
                <p><span>Date</span> : {{activity.date_created | date:'medium'}} </p>

                <p *ngIf='activity.job_data' [title]="activity.job_data"><span>Job Data</span> :
                    {{activity.job_data.length > 30? activity.job_data.slice(0,28) + ".." : activity.job_data}}</p>
                <p *ngIf='activity.exception_data' [title]="activity.exception_data"><span>Exception Data</span> :
                    {{activity.exception_data > 50? activity.exception_data.slice(0,48) + ".." : activity.exception_data}}
                </p>
                <p *ngIf='activity.exception_message' [title]="activity.exception_message"><span>Exception
                        Message</span> :
                    {{activity.exception_message > 50? activity.exception_message.slice(0,48) + ".." : activity.exception_message}}
                </p>
            </div>
        </div>
    </div>
</div>