.cold{padding: 5px 10px;background-color: #17a2b8;color:#fff;border-radius:5px}
.hot{padding: 5px 10px;background-color: #dc3545;color:#fff;border-radius:5px}
.warm{padding: 5px 10px;background-color: #6c757d;color:#fff;border-radius:5px}
.card{background-color: #fff;box-shadow: 0 0  10px #dadada;border-radius: 10px;margin-bottom:20px;
    h5{font-size:16px;line-height:22px;font-weight:500;color:#6c757d;}
    h2{font-size:20px;line-height:25px;}
}
