<div class="">
  <div class="search-form">
    
    <div class="form-2" style="margin-bottom: 1.5rem;">
      <mat-form-field style="width: 40%; margin-right:20px">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="start_date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="width: 40%;">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker2" [formControl]="completion_date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getJobList();getCardDetails();" class="ml-5">Search</button>
      <button mat-raised-button color="primary" (click)="download()" class="ml-5">Download</button>
    </div>
  </div>
  <div class="mt-3 mb-5">
    <div class="row">
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Total Leads</h5>
            <h2>{{card_data?.total_stats.total_leads  || '0'  }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>WhatsApp Support</h5>
            <h2>{{card_data?.total_stats.whatsapp_support || '0' }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Status as Qualified</h5>
            <h2>{{card_data?.total_stats.status_as_total || '0' }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Status as Partial</h5>
            <h2>{{card_data?.total_stats.status_as_partial || '0' }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Status as No Action</h5>
            <h2>{{card_data?.total_stats.status_as_no_action || '0' }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Status as Invalid</h5>
            <h2>{{card_data?.total_stats.status_as_invalid || '0' }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Hot Leads</h5>
            <h2>{{card_data?.total_stats.hot_lead || '0' }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Cold Leads</h5>
            <h2>{{card_data?.total_stats.cold_lead || '0' }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Warm Leads</h5>
            <h2>{{card_data?.total_stats.warm_lead || "-"}}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Total Interior/Exterior Count</h5>
            <h2>{{card_data?.total_stats.both_count || '0' }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Interior Count</h5>
            <h2>{{card_data?.total_stats.interior_count || '0' }}</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <h5>Exterior Count</h5>
            <h2>{{card_data?.total_stats.exterior_count || '0' }}</h2>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="example-container mat-elevation-z8">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let element"
          > {{element.status || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="mobile_number">
          <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
          <td mat-cell *matCellDef="let element"> {{element.mobile_number || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="email_id">
          <th mat-header-cell *matHeaderCellDef>Email ID</th>
          <td mat-cell *matCellDef="let element"> {{element.email_id || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef>Rating (Lead Type)</th>
          <td mat-cell *matCellDef="let element"> <span [ngClass]="{'cold': element.rating === 'cold', 'hot' : element.rating === 'hot' , 'warm' : element.rating === 'warm' }">{{element.rating || '-'}} </span></td>
        </ng-container>
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Created At</th>
          <td mat-cell *matCellDef="let element"> {{(element.created_at  | date:'medium':'medium') || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef>Updated At</th>
          <td mat-cell *matCellDef="let element"> {{(element.updated_at | date:'medium':'medium') || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="reference_id">
          <th mat-header-cell *matHeaderCellDef>Reference ID</th>
          <td mat-cell *matCellDef="let element"> {{(element.reference_id) || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="enquiry_qualified">
          <th mat-header-cell *matHeaderCellDef>Enquiry Qualified </th>
          <td mat-cell *matCellDef="let element"> {{element.enquiry_qualified || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="looking_for">
          <th mat-header-cell *matHeaderCellDef>Looking For</th>
          <td mat-cell *matCellDef="let element"> {{element.looking_for || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element" title="{{element.description || '-'}}"> {{element.description | slice:0:20 || '-' }} <span *ngIf="element?.description.length > 20"> ...</span> </td>
        </ng-container>
        <ng-container matColumnDef="paint_type">
          <th mat-header-cell *matHeaderCellDef>Paint Type</th>
          <td mat-cell *matCellDef="let element"> {{element.paint_type || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="pincode">
          <th mat-header-cell *matHeaderCellDef> Pincode </th>
          <td mat-cell *matCellDef="let element"> {{element.pincode || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="carpet_area">
          <th mat-header-cell *matHeaderCellDef> Carpet Area </th>
          <td mat-cell *matCellDef="let element"> {{element.carpet_area || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="preferred_language">
          <th mat-header-cell *matHeaderCellDef> Preferred Language </th>
          <td mat-cell *matCellDef="let element"> {{element.preferred_language || '-'}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns">test</tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">test</tr>
      </table>
      <h3 class="no-records-msg" *ngIf="dataSource.data.length <= 0">
        {{ records_response?.slice(0,1).toUpperCase() + records_response?.slice(1) || "No Records found!" }} </h3>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>