.agent-reports{
    .form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        .mat-form-field{
            width: 100%;
        }
    }

    .verified-stats{
        width: 90%;
        margin: auto;
        border : 1px solid rgba(0,0,0,.1);
        border-radius: 5px;
        box-shadow: 1px 1px 10px rgba(0,0,0,.1);
        .head{
            background: #4054b5;
            color: white;
            font-family: 'DM Sans';
            padding: .4rem .8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px 5px 0 0;
        }
        .stats{
            padding: 1rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            .stat{
                padding: .5rem 1rem;
                border-radius: 3px;
                background: white;
                border : 1px solid rgba(0,0,0,.1);
                // box-shadow: 1px 1px 10px rgba(0,0,0,.1);/
                p{

                    font-family: 'DM Sans';
                }
            }
        }
    }

    .chip{
        border: 1px solid white;
        padding: .2rem .5rem;
        border-radius: 100px;
        background: white;
        color: #4054b5;
    }
}