<div class="agent-reports">
    <div class="search-form">
        <div class="form" style="margin: 1.5rem 0;">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Select Agent" aria-label="Number" matInput [formControl]="agent"
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker1" [formControl]="start_date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Completion Date</mat-label>
                <input matInput [matDatepicker]="picker2" [formControl]="completion_date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <button mat-fab color="primary" (click)="getVerifiedAgents()"><span class="material-icons">
                    search
                </span></button>
        </div>
    </div>
    <div class="verified-stats" *ngIf='agent_verified_stats'>
        <div class="head">
            <!-- <p>{{agent_verified_stats?.verified_stats[0]?.agent_id}}</p> -->
            <p>Total Phone Numbers Verified : <span
                    class='chip'>{{agent_verified_stats?.total_phone_number_verified}}</span></p>
        </div>
        <div class="stats">
            <div class="stat" *ngFor='let stat of agent_verified_stats?.verified_stats'>
                <p><b>Date</b> : {{stat.date}}</p>
                <p><b>Total Phone Numbers Verified</b> : {{stat.total_phone_number_verified}}</p>
            </div>
        </div>
    </div>
</div>