<div class="job-sub-listing">
    <h2 *ngIf='jobsSubList.length <= 0' style="text-align: center;font-family: 'DM Sans', sans-serif;">No
        sub jobs found!</h2>
    <div class="list">
        <div class="card" *ngFor='let subJob of jobsSubList; let i=index'>
            <h2>{{subJob.user}} <span>ID : {{subJob.job_id}}</span></h2>
            <div class="info">
                <p><span>Start Date</span> : {{subJob.started_at | date:'medium'}} </p>
                <p><span>End Date</span>: {{subJob.completed_at | date:'medium'}}</p>
                <p><span>Total Campaign Phone Numbers</span> : {{subJob.total_phone_numbers}}</p>
                <p><span>Total Phone Numbers Supporting VSMS</span>: {{subJob.total_number_supporting_verified_sms}}</p>
                <p><span>Total Phone Numbers Verified</span>: {{subJob.total_phone_number_verified}}</p>
                <p *ngIf="subJob.message_content"><span>Message content</span> : {{subJob.message_content}}</p>
                <p><span>Agent ID</span>: {{subJob.agent_id}}</p>
                <p><span>Status</span> :
                    {{subJob.job_status_data.state ? subJob.job_status_data.state : "No status found"}}</p>
                <p><span>Status Message </span>: {{subJob.job_status_data.status_message}}</p>
            </div>
        </div>
    </div>

</div>