<div class="in-progress-dashboard">
    <div class="example-container mat-elevation-z8" style="margin-top: 2rem;">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="job_id">
                    <th mat-header-cell *matHeaderCellDef> Job ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.job_id || '-'}} </td>
                </ng-container>
                <ng-container matColumnDef="agent_id">
                    <th mat-header-cell *matHeaderCellDef> Agent ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.agent_id || '-'}} </td>
                </ng-container>
                <ng-container matColumnDef="job_data">
                    <th mat-header-cell *matHeaderCellDef> Job Data </th>
                    <td mat-cell *matCellDef="let element" [title]="element.job_data">
                        {{element.job_data.length > 20 ? element.job_data.slice(0,17) + ".." : element.job_data || '-'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="exception_data">
                    <th mat-header-cell *matHeaderCellDef> Exception data </th>
                    <td mat-cell *matCellDef="let element" [title]="element.exception_data">
                        {{element.exception_data.length > 20 ? element.exception_data.slice(0,17) + ".." : element.exception_data || '-'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="exception_message">
                    <th mat-header-cell *matHeaderCellDef> Exception message</th>
                    <td mat-cell *matCellDef="let element"> {{element.exception_message || '-'}} </td>
                </ng-container>
                <ng-container matColumnDef="status_message">
                    <th mat-header-cell *matHeaderCellDef> Status Message </th>
                    <td mat-cell *matCellDef="let element"> {{element.status_message || '-'}} </td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> State</th>
                    <td mat-cell *matCellDef="let element"> {{element.state || '-'}} </td>
                </ng-container>
                <ng-container matColumnDef="date_created">
                    <th mat-header-cell *matHeaderCellDef> Date Created</th>
                    <td mat-cell *matCellDef="let element"> {{(element.date_created | date : 'medium') || '-'}} </td>
                </ng-container>
                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef> Details </th>
                    <td mat-cell *matCellDef="let element" (click)="redirectToDetails(element.job_id)">
                        <mat-icon style="cursor: pointer;">launch</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns">test</tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">test</tr>
            </table>
            <h3 class="no-records-msg" *ngIf="dataSource.data.length <= 0">
                {{  records_response.slice(0,1).toUpperCase() + records_response.slice(1) || "No jobs found!" }}
            </h3>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>