<div class="job-listing">
   <div class="details">
      <div class="head" style="display: flex; align-items: center;justify-content: space-between;margin: .5rem 0;">
         <h3 style="padding: 0;">Campaign Details </h3>
         <h3 style="padding: 0;"><span>Job ID</span> : {{jobID}}</h3>
      </div>
      <div class="content">
         <div class="block">
            <p><span>Total Campaign Phone Numbers</span> : {{overallCampaignStatistics?.total_msisdn === "-" ? "NA" :
               overallCampaignStatistics?.total_msisdn }} </p>
            <p><span>Total Phone Numbers Supporting VSMS</span> : {{overallCampaignStatistics?.total_vsms_msisdn === "-"
               ? "NA" :
               overallCampaignStatistics?.total_vsms_msisdn }}</p>
            <p><span>Total Phone Numbers Verified</span> : {{overallCampaignStatistics?.total_phone_number_verified}}
            </p>
         </div>
         <div class="block">
            <p><span>Job Status</span> :
               {{overallJobStatus}}
               <mat-icon *ngIf='overallJobStatus == "Complete"' style="color: rgb(34, 158, 34);">check_circle</mat-icon>
               <mat-icon *ngIf='overallJobStatus == "Failed"' style="color: rgb(211, 70, 70);">cancel</mat-icon>
               <mat-icon *ngIf='overallJobStatus == "In-Progress"' style="color: rgb(76, 76, 214);">donut_small
               </mat-icon>
            </p>
            <p><span>Duration</span> : {{campaignDuration }}
            </p>
            <p><span>Start Date</span> : {{overallCampaignStatistics?.campaign_start_time === "-" ? "NA" :
               (overallCampaignStatistics?.campaign_start_time | date:'medium')}}</p>
         </div>
      </div>
   </div>
   <mat-tab-group>
      <mat-tab label="Jobs">
         <app-jobs-sub-listing></app-jobs-sub-listing>
      </mat-tab>
      <mat-tab label="Activities">
         <app-jobs-activities></app-jobs-activities>
      </mat-tab>
   </mat-tab-group>
</div>