<div class="agent-dashboard">
  <div class="search-form">
    <div class="form-1">
      <mat-form-field style="width: 40%;">
        <mat-label>Job ID</mat-label>
        <input type="text" matInput placeholder="Search by Job ID(Min length : 6 char)" [formControl]="search_job_id">
      </mat-form-field>
      <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
        (click)="searchJobDetails()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="form-2" style="margin-bottom: 1.5rem;">
      <mat-form-field class="example-full-width" style="width: 26%;">
        <input type="text" placeholder="Select Agent" aria-label="Number" matInput [formControl]="agent"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field style="width: 26%;">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="start_date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="width: 26%;">
        <mat-label>Completion Date</mat-label>
        <input matInput [matDatepicker]="picker2" [formControl]="completion_date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getJobList()">Search</button>
    </div>
  </div>

  <div class="example-container mat-elevation-z8">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="job_id">
          <th mat-header-cell *matHeaderCellDef> Job ID</th>
          <td mat-cell *matCellDef="let element"> {{element.job_id || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="agent_id">
          <th mat-header-cell *matHeaderCellDef> Agent ID </th>
          <td mat-cell *matCellDef="let element"> {{element.agent_id || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef> User </th>
          <td mat-cell *matCellDef="let element"> {{element.user || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="started_at">
          <th mat-header-cell *matHeaderCellDef> Start Date </th>
          <td mat-cell *matCellDef="let element"> {{(element.started_at | date:'medium':'medium') || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="completed_at">
          <th mat-header-cell *matHeaderCellDef> Completed Date </th>
          <td mat-cell *matCellDef="let element"> {{(element.completed_at | date:'medium':'medium') || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="total_phone_numbers">
          <th mat-header-cell *matHeaderCellDef> Total Campaign Phone Numbers </th>
          <td mat-cell *matCellDef="let element"> {{element.total_phone_numbers || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="total_number_supporting_verified_sms">
          <th mat-header-cell *matHeaderCellDef> Total Phone Numbers Supporting VSMS </th>
          <td mat-cell *matCellDef="let element"> {{element.total_number_supporting_verified_sms || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="total_phone_number_verified">
          <th mat-header-cell *matHeaderCellDef> Total Phone Numbers Verified </th>
          <td mat-cell *matCellDef="let element"> {{element.total_phone_number_verified || '-'}} </td>
        </ng-container>
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element" (click)="redirectToDetails(element.job_id)">
            <mat-icon style="cursor: pointer;">launch</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns">test</tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">test</tr>
      </table>
      <h3 class="no-records-msg" *ngIf="dataSource.data.length <= 0">
        {{ records_response.slice(0,1).toUpperCase() + records_response.slice(1) || "No jobs found!" }}</h3>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>