<div class="auth-container">
    <div class="auth">
        <h1>
            Welcome back!
        </h1>
        <mat-form-field class="example-full-width" appearance='outline'>
            <mat-label>Username</mat-label>
            <input matInput [formControl]="usernameFormControl" placeholder="">
            <mat-error *ngIf="usernameFormControl.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance='outline'>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button class="login-btn" (click)='login()'>
            SIGN IN
        </button>
    </div>
</div>