<div class="main">
    <mat-toolbar color="primary" class="toolbar">
        <div class="left">
            <div class="logo" style="display: flex;">
                <img src="assets/logo.png"
                    style="height: 46px;">
            </div>
            <div class="nav" style="margin-left: 1rem;">
                <span routerLink="/main/dashboard" [class.active]="current_section == 'Dashboard'" class="list-item">
                    Dashboard
                </span>
                <!-- <span routerLink="/main/agent" [class.active]="current_section == 'Agent'" class="list-item">
                    Agents
                </span>
                <span routerLink="/main/in-progress" [class.active]="current_section == 'In Progress'"
                    class="list-item">
                    In Progress
                </span>
                <span routerLink="/main/agent-reports" [class.active]="current_section == 'Agent Reports'"
                    class="list-item">
                    Agent Reports
                </span>
                <span class="list-item" (click)='openAgentKeyDownload()'
                    *ngIf='common.getLocalStorageItem("vsm_username") == "demo"'>
                    Agent Key Files
                </span> -->
            </div>
        </div>
        <div class="right">
            <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)='logOut()'>
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Sign out</span>
                </button>
            </mat-menu>
        </div>

    </mat-toolbar>
    <div class="dashboard">
        <app-dashboard *ngIf='current_section == "Dashboard"'></app-dashboard>
        <!-- <app-agent *ngIf='current_section == "Agent"'></app-agent>
        <app-in-progress *ngIf='current_section == "In Progress"'></app-in-progress>
        <app-job-listing *ngIf='current_section == "Job_details"'></app-job-listing>
        <app-in-progress-activity *ngIf="current_section == 'In Progress Activity'"></app-in-progress-activity>
        <app-agent-reports *ngIf="current_section == 'Agent Reports'"></app-agent-reports> -->
    </div>

</div>