/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");



html,body {
  height: 100%;
  overflow-x: hidden;
  background: #f0f0f0;
  margin: 0;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
*{outline: none !important;}

// main
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .toolbar {
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      .logo {
        cursor: pointer;
        margin-left: 0.4rem;
      }
      .nav{
        font-family: 'DM Sans', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        span{
          cursor: pointer;
          margin-left: 1rem;
          font-size: 1.1rem;
          transition: .1s linear all;
          font-weight: 400;
          outline: none;
        }
        .active{
          font-weight: 700;
          font-size: 1.2rem;
        }
      }
    }
    .right {
      .mat-icon {
        padding: 0.5rem;
        font-size: 2.5rem;
        margin-right: 2rem;
        cursor: pointer;
      }
    }
  }
}

// auth 
.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .auth {
    width: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2.5rem;
    background: white;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.01);
    font-family: "DM Sans", sans-serif !important;
    h1 {
      margin: 0.5rem 0 1.5rem 0;
      color: #564fac;
      text-align: center;
      font-weight: 700;
      letter-spacing: -1px;
    }
    .mat-form-field {
      margin: 0.4rem 0 0.8rem 0;
      font-family: "DM Sans", sans-serif !important;
      button {
        background: transparent;
        border: 0;
        cursor: pointer;
        outline: none;
      }
    }
    .login-btn {
      font-size: 1rem;
      padding: 1rem;
      border: 0;
      background: #6a62d2;
      color: white;
      font-weight: 700;
      font-family: "DM Sans", sans-serif !important;
      letter-spacing: 2px;
      border-radius: 3px;
      margin: 0.5rem 0 0 0;
      cursor: pointer;
      outline: none;
      box-shadow: none;
      transition: 0.2s all ease-in-out;
      &:hover {
        background: #4f499e;
      }
    }
  }
}

// main dashboard + agent dashboard
.dashboard, .agent-dashboard, .in-progress-dashboard {
  padding: 1rem 2rem;
  .no-records-msg{
    font-family: 'DM Sans', sans-serif;
    margin: 2rem;
    text-align: center;
    color: #757575;
    font-size: 1.5rem;
  }
  .search-form{
    width: 90%;
    margin: auto;
    .form-1{
      width: 70%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .form-2{
      width: 70%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;  

    }
    .form-2 button{
      min-width: 10%;
    }
  }

  .example-container {
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    // width: 90%;
    margin: auto;
    table {
      width: 100%;
      .mat-header-row {
        background-color: #3f51b5;
        th {
          color: #fff;
          letter-spacing: 1px;
          font-size: .9rem !important;
        }
      }
      td,th{
        padding: .8rem !important;
        text-align: center;
        font-family: 'DM Sans', sans-serif;
      }
    }
  }
  
  .mat-paginator-container{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
    .mat-paginator-page-size-label{
      display: none;
    }
  }
}

//job listing
.job-listing, .in-progress-activity{
  margin: 2rem auto;
  width: 80%;
  .details{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 0 2rem 0;
    font-family: "DM Sans", sans-serif;
    color: #525252;
    h3{
      padding: .5rem 1rem;
      border-radius: 5px 0 0 5px;
      font-size: 1.1rem;
    }
    .content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .block{
        padding: 1rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background: white;
        width: 100%;
      p{
        margin: .5rem 0rem;
        display: flex;
        align-items: center;
        gap: .3rem;
        span{
          font-weight: 700;
        }
      }
    }
  }
    h3,p{
      margin: 0rem;
    }
  }
  .job-sub-listing{
    padding: 1.5rem; 
    .list{
        .card{
            border-radius: 3px;
            background: #fff;
            border-radius: 3px;
            font-family: 'DM Sans', sans-serif;
            width:auto;
            box-sizing: border-box;
            box-shadow: 1px 1px 5px rgba(0,0,0,.1);
            h2{
                border-radius: 3px 3px 0 0;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 1rem;
                color: white;
                background: #3f51b5;
                padding: 1rem 1.5rem;
                margin: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    font-size: .9rem;
                }
            }
            .info{
                padding: 1rem 2rem 2rem 2rem;
                p{
                    span{
                        font-weight: 700;
                    }
                }
                button{
                    font-size: .9rem;
                    padding: .5rem 1rem;
                    border: 0;
                    background: rgb(30, 141, 30);
                    color: white;
                    font-weight: 700;
                    font-family: "DM Sans", sans-serif !important;
                    letter-spacing: 1px;
                    border-radius: 3px;
                    text-transform: uppercase;
                    cursor: pointer;
                    outline: none;
                    box-shadow: none;
                    transition: 0.2s all ease-in-out;
                    &:hover {
                        background: rgb(20, 99, 20);
                    }
                }
            }
        }
    }
  }  
  .job-activity-listing{
    padding: 1rem;
    .card-list{
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: max-content;
      align-items: flex-start;
      .card{
        background: #fff;
        border-radius: 3px;
        font-family: 'DM Sans', sans-serif;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 1px 1px 5px rgba(0,0,0,.1);
        border-radius: 3px;
        .status{
            border-radius: 3px 3px 0 0;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1rem;
            padding: 1rem 1.5rem;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                font-size: .8rem;
                font-weight: 400;
                border: 2px solid white;
                padding: .5rem;
                border-radius: 3px;
            }
        }
        .info{
            padding: 1rem 1.5rem;
            p{
                margin: .5rem 0;
                span{
                    font-weight: 700;
                }
            }
        }
        .inProgress{
            background: #3f51b5;
            color: white;
        }
        .completed{
            color: white;
            background: #3bc23b;
        }
        .failed{
            background: rgb(206, 62, 62);
            color: white;
        }
        .started{
            background: rgb(163, 15, 168);
            color: white;
        }
    }
    }
  } 
}


@media (max-width: 550px) {
  table {
    width: 600px !important;
  }
}


.login .mat-form-field{
  width: 100%  !important;
}

.mat-tab-label{
  font-family: 'DM Sans';
  font-size: 1.1rem;
  font-weight: 700;
}

.mat-simple-snackbar{
  font-family: 'DM Sans', sans-serif !important;
  padding: .5rem;
}

.mat-simple-snackbar-action{
  flex-shrink: 0;
  margin: -8px -8px -8px 8px;
  color: white;
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif !important;
}

.success-snackbar{
  background: #27bf41;
  color: white;
}

.error-snackbar{
  background: rgb(206, 81, 81);
  color: white;
}


.agent-keys{
  .mat-form-field{
      .mat-form-field-wrapper{
          padding: 0 !important;
      } 
  }
}
