<div class="agent-keys">
    <mat-form-field appearance="outline" style="margin-right: 1rem;">
        <mat-label>Agent Name</mat-label>
        <input matInput placeholder="Agent Name" [formControl]="agent_name" name='agent_name'>
    </mat-form-field>
    <button mat-fab color='primary' (click)='downloadAgentKey()'>
        <mat-icon>send</mat-icon>
    </button>
</div>